* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* background: rgb(255, 115, 0); */
}

.container .circularprobar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    background: conic-gradient(rgb(255, 153, 0) 3.6deg, rgb(241 241 241) 0deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .circularprobar::before {
    content: "";
    background: rgb(255, 255, 255);
    width: 160px;
    height: 160px;
    position: absolute;
    border-radius: 50%;

}

.container .circularprobar svg {
    font-size: 5rem;
    position: relative;
}

.container .circularprobar .progressvalue {
    position: relative;
    font-size: 49px;
    font-weight: bolder;
    color: rgb(188, 43, 43);
}